
 #container {
      margin: 20px;
      position: relative; /* optional if positioning is used */
    }

    #container::before,
    #container::after {
      color: #f00;            /* Red color */
      font-size: 20px;
      display: inline;         /* Display on its own line */
    }

    #container::before {
      content: "Before Element";
    }

    #container::after {
      content: "After Element";
    }